server_name: nats3

port: 4224

jetstream: enabled

authorization: {
    ADMIN = {
        publish = ">"
        subscribe = ">"
        allow_responses = true
    }

    users: [
        {user: rd, password: password, permissions: $ADMIN}
    ]
}

cluster {
    name: cluster

    listen: 6222

    authorization {
        user: rd
        password: password
        timeout: 0.5
     }

    routes = [
        nats-route://rd:password@nats1:6222
        nats-route://rd:password@nats2:6222
    ]
}


