server_name: nats1

port: 4222

jetstream: enabled

authorization: {
    users: [
        {user: rd, password: password}
    ]
}

cluster {
    name: cluster

    listen: 6222

    authorization {
        user: rd
        password: password
        timeout: 0.5
     }

    routes = [
        nats-route://rd:password@nats2:6222
        nats-route://rd:password@nats3:6222
    ]
}

http_port: 8222
